#telaInicial {
  margin: 0; /* Remove espaços indesejados */
  height: 100vh; /* Garante que o body ocupe 100% da altura da viewport */
  background-image: url("../../assets/fundoInicial.png");
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-repeat: no-repeat; /* Evita repetição */
  background-position: center center; /* Centraliza a imagem */

}

.bodyInicial{
   height: 100vh;
   width: 100vw;
}

.headerInicial{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerInicial h1{
  font-family: 'Rubik Beastly', 'Courier New', Courier, monospace;
  font-size: 3rem;
}

.buttonInicial{
  display: flex;
  flex-direction: column;
  padding: 30px;
}